.d-flex.facility
  .name{ class: ('sub-facility' unless facility.root?) }
    = "#{facility.name}"
    = "(#{facility.indicators.length})" unless facility.root?
  .w-25
    = "#{facility.abbr_en} (#{facility.abbr_km})"

  .flex-grow-1
    = timeago(facility.created_at).html_safe

  - if !facility.root? && policy(Indicator).create?
    = link_to facility_indicators_path(facility), class: "btn btn-circle btn-sm btn-outline-info me-1", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('facility.manage_indicator') do
      %i.fas.fa-pencil-ruler

  / Edit button
  = render 'shared/buttons/edit_button', object: facility, url: edit_facility_path(facility)

  / Delete button
  - if facility.locked?
    %span{ data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('facility.already_in_used') }
      %button.btn.btn-circle.btn-sm.btn-outline-danger.disabled
        %i.fas.fa-trash-alt
  - else
    = render 'shared/buttons/delete_button', object: facility, message: { type: t('facility.facility'), name: facility.name, url: facility_path(facility) }
