.container-fluid.px-4.facilities
  = render 'shared/header_title', title: t('facility.facilities')

  .d-flex.justify-content-end.mb-2
    = render "shared/buttons/add_new_button", url: new_facility_path, name: t("facility.facility")

  .card.mb-4.pretty
    = render "shared/no_data", items: @facilities

    - if @facilities.present?
      .d-flex.facility-header
        %strong.name= sortable "name_#{I18n.locale}", t("facility.name")
        %strong.w-25= t("facility.abbreviation")
        %strong.flex-grow-1= t("shared.created_at")

      - @facilities.each do |facility|
        = render 'facility', facility: facility

        - facility.children.each do |child|
          = render 'facility', facility: child

    - if @pagy.pages > 1
      .pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_nav(@pagy)

= render "shared/modals/confirm_delete_modal"
